[submodule "extlib/qtscintilla"]
	path = extlib/qtscintilla
	url = ssh://git@mmgr.pl:10022/qt/qtscintilla.git
[submodule "extlib/qtlogger"]
	path = extlib/qtlogger
	url = ssh://git@mmgr.pl:10022/qt/qtlogger.git
[submodule "extlib/qtsingleapplication"]
	path = extlib/qtsingleapplication
	url = ssh://git@mmgr.pl:10022/qt/qtsingleapplication.git
[submodule "extlib/qtmisclib"]
	path = extlib/qtmisclib
	url = ssh://git@mmgr.pl:10022/qt/qtmisclib.git
[submodule "extlib/qtwidgets"]
	path = extlib/qtwidgets
	url = ssh://git@mmgr.pl:10022/qt/qtwidgets.git
