
#ignore rubbish
*~
Thumbs.db

#Ignore files build by compiler
*.o
*.so
*.so.*
*.a

*.obj
*.lib
*.tlog
*.log
*.ipch
*.sdf
*.opensdf
*.suo
*.pch
*.pdb
*.sbr
*.exe
*.ilk
*.intermediate.manifest

*.pyc

#Ignore qt specific files
*.pro.user
moc_*.cpp
Makefile
Makefile.Debug
Makefile.Release


#Ignore build directories
build_debug/
build_release/