
#ignore rubbish
*~
Thumbs.db

#Ignore files build by compiler
*.o
*.so
*.so.*
*.a

*.obj
*.lib
*.dll
*.tlog
*.log
*.ipch
*.sdf
*.opensdf
*.suo
*.pch
*.pdb
*.sbr
*.exe
*.ilk
*.exp
*.manifest

*.pyc


#Ignore qt specific files
*.pro.user
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release

#Ignore eclipse secific files
.metadata

#Ignore build directories
build_debug/
build_release/